<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>442094235644-29ni0s6gsm91ddod4hgldn7dnufbj8h1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.442094235644-29ni0s6gsm91ddod4hgldn7dnufbj8h1</string>
	<key>API_KEY</key>
	<string>AIzaSyDvYNC2pvEExfQMvW9D4AjpHT4PDoianhA</string>
	<key>GCM_SENDER_ID</key>
	<string>442094235644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.devStackFirebaseProblem</string>
	<key>PROJECT_ID</key>
	<string>dev-stack-firebase-problem</string>
	<key>STORAGE_BUCKET</key>
	<string>dev-stack-firebase-problem.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:442094235644:ios:980258ac93e6a855fd4c79</string>
</dict>
</plist>